
footer#footer.row.btc-row(ng-cloak)
  #footer-inner
    #footer-content.p
      .col-xs-12
        a(ui-sref="main") Bitcamp 2014
      .col-xs-12
        a(href="mailto:hello@bitca.mp" target="_blank") Email
        | &ensp;·&ensp;
        a(href="https://twitter.com/bitcmp" target="_blank") Twitter
        | &ensp;·&ensp;
        a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook

