
footer#footer.row.btc-row(ng-cloak)
  #footer-inner
    #footer-content.p
      .col-xs-12
        a(href="mailto:hello@bit.camp" target="_blank") Email
        | &ensp;·&ensp;
        a(href="https://twitter.com/bitcmp" target="_blank") Twitter
        | &ensp;·&ensp;
        a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
        | &ensp;·&ensp;
        a(href="https://medium.com/bitcampfire-stories" target="_blank") Medium

