doctype html

html(ng-app="bitcampApp")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=10,chrome=1")
    meta(charset="utf-8")
    base(href="/")
    title Bitcamp 2014
    meta(name="description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    meta(property="og:site_name",   content="Bitcamp 2014")
    meta(property="og:title",       content="Bitcamp 2014")
    meta(property="og:url",         content="http://bitca.mp")
    meta(property="og:type",        content="website")
    meta(property="og:description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(property="og:image",       content="http://bitca.mp/images/opengraph.png")

    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

    <!-- build:css(./) styles/vendor.css -->
    link(rel="stylesheet" href="components/jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="components/animate.css/animate.css")
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    link(rel="stylesheet" href="layout/colors.css")

    link(rel="stylesheet" href="index.css")

    link(rel="stylesheet" href="layout/fonts.css")
    link(rel="stylesheet" href="layout/typo.css")

    link(rel="stylesheet" href="main/main.css")

    link(rel="stylesheet" href="fireside/fireside.css")

    link(rel="stylesheet" href="faq/faq.css")

    link(rel="stylesheet" href="waiver/waiver.css")

    link(rel="stylesheet" href="register/register.css")

    link(rel="stylesheet" href="login/login.css")

    link(rel="stylesheet" href="color/color.css")

    link(rel="stylesheet" href="travel/travel.css")
    <!-- endbuild -->


  body(ng-controller="BodyCtrl" ng-cloak ng-style="bodyCSS")

    .btc-background-wrapper
      .btc-background
        #cloud-1.cloud
          <img src="/images/cloud-1.svg" width="150" height="80">
        #cloud-2.cloud
          <img src="/images/cloud-2.svg" width="150" height="80">
        #cloud-3.cloud
          <img src="/images/cloud-1.svg" width="150" height="80">
        #cloud-4.cloud
          <img src="/images/cloud-2.svg" width="150" height="80">

    .wrapper.bitcamp-view#wrapper(ui-view)

    .wrapper.ng-cloak(ng-include="" src=" 'layout/footer.html' ")


    <!-- build:js({./,client}) scripts/plugins.js -->
    script(src="components/jquery/dist/jquery.js")

    script(src="components/jquery-ui/ui/jquery-ui.js")

    script(src="components/angular/angular.js")

    script(src="components/flowtype/flowtype.js")

    script(src="components/moment/moment.js")

    script(src="lib/ui-bootstrap-custom-0.10.0.js")
    script(src="lib/ui-bootstrap-custom-tpls-0.10.0.js")
    <!-- endbuild -->

    <!-- build:js(./) scripts/modules.js -->
    script(src="components/jquery.scrollTo/jquery.scrollTo.js")

    script(src="components/angular-ui-router/release/angular-ui-router.js")

    script(src="components/angular-resource/angular-resource.js")
    script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-sanitize/angular-sanitize.js")
    script(src="components/angular-animate/angular-animate.js")
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    script(src="index.js")
    script(src="layout/404/404.js")

    script(src="main/main.js")

    script(src="fireside/fireside.js")

    script(src="faq/faq.js")
    script(src="waiver/waiver.js")
    script(src="conduct/conduct.js")
    script(src="color/color.js")
    script(src="travel/travel.js")
    script(src="hackumentary/hackumentary.js")
    script(src="register/register.js")

    script(src="login/login.js")
    <!-- endbuild -->

    <!-- Google Analytics: gs.js -->
    <!-- inject -->
