doctype html

html(ng-app="bitcampApp")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=10,chrome=1")
    meta(charset="utf-8")
    base(href="/")
    title Bitcamp 2015
    meta(name="description", content="36-hour hackathon at the University of Maryland. Spring 2015.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    meta(property="og:site_name",   content="Bitcamp 2015")
    meta(property="og:title",       content="Bitcamp 2015")
    meta(property="og:url",         content="http://bitca.mp")
    meta(property="og:type",        content="website")
    meta(property="og:description", content="36-hour hackathon at the University of Maryland. Spring 2015.")
    meta(property="og:image",       content="http://bitca.mp/images/opengraph.png")

    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

    <!-- build:css(./) styles/vendor.css -->
    link(rel="stylesheet" href="components/jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="components/animate.css/animate.css")
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    link(rel="stylesheet" href="layout/colors.css")

    link(rel="stylesheet" href="index.css")

    link(rel="stylesheet" href="layout/fonts.css")
    link(rel="stylesheet" href="layout/typo.css")

    link(rel="stylesheet" href="main/main.css")
    <!-- endbuild -->


  body.custom-scollbar(
    ng-controller="BodyCtrl"
    ng-cloak ng-style="bodyCSS")

    .btc-background-wrapper.ng-cloak
      .btc-background

    .wrapper.bitcamp-view#wrapper(ui-view)

    .wrapper#wrapper-footer(ng-include="" src=" 'layout/footer.html' ")


    <!-- build:js({./,client}) scripts/plugins.js -->
    script(src="components/jquery/dist/jquery.js")

    script(src="components/angular/angular.js")

    script(src="components/flowtype/flowtype.js")

    script(src="lib/ui-bootstrap-custom-0.10.0.js")
    script(src="lib/ui-bootstrap-custom-tpls-0.10.0.js")
    <!-- endbuild -->

    <!-- build:js(./) scripts/modules.js -->
    script(src="components/jquery.scrollTo/jquery.scrollTo.js")

    script(src="components/angular-ui-router/release/angular-ui-router.js")

    script(src="components/angular-resource/angular-resource.js")
    script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-sanitize/angular-sanitize.js")
    script(src="components/angular-animate/angular-animate.js")

    script(src="components/angulartics/dist/angulartics.min.js")
    script(src="components/angulartics/dist/angulartics-ga.min.js")
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    script(src="index.js")
    script(src="layout/404/404.js")
    script(src="main/poisson-disk-sample.js")
    script(src="main/main.js")
    <!-- endbuild -->

    <!-- Google Analytics: gs.js -->
    <!-- inject -->
