doctype html

html(ng-app="bitcampApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title Bitcamp 2014
    meta(name="description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    meta(property="og:site_name",   content="Bitcamp 2014")
    meta(property="og:title",       content="Bitcamp 2014")
    meta(property="og:url",         content="http://bitca.mp")
    meta(property="og:type",        content="website")
    meta(property="og:description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(property="og:image",       content="http://bitca.mp/images/opengraph.png")

    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

    <!-- build:css(./) styles/vendor.css -->
    link(rel="stylesheet" href="components/jquery-ui/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="components/animate.css/animate.css")
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    link(rel="stylesheet" href="index.css")

    link(rel="stylesheet" href="layout/colors.css")
    link(rel="stylesheet" href="layout/fonts.css")
    link(rel="stylesheet" href="layout/typo.css")

    link(rel="stylesheet" href="main/main.css")

    link(rel="stylesheet" href="fireside/fireside.css")

    link(rel="stylesheet" href="faq/faq.css")
    <!-- endbuild -->

  body(ng-controller="BodyCtrl")

    #buffer(ng-if="animReady")
      .wrapper#wrapper(ng-view ng-class="animClass")

      .wrapper.ng-cloak(ng-include="" src=" 'layout/footer.html' ")

    <!-- build:js(./) scripts/plugins.js -->
    script(src="components/jquery/jquery.js")

    script(src="components/jquery-ui/ui/jquery-ui.js")

    script(src="components/angular/angular.js")

    script(src="components/flowtype/flowtype.js")

    script(src="components/socket.io-client/dist/socket.io.js")
    <!-- endbuild -->

    <!-- build:js(./) scripts/modules.js -->
    script(src="components/jquery.scrollTo/jquery.scrollTo.js")

    script(src="components/angular-resource/angular-resource.js")
    script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/angular-sanitize/angular-sanitize.js")
    script(src="components/angular-route/angular-route.js")
    script(src="components/angular-animate/angular-animate.js")
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    script(src="index.js")
    script(src="layout/404/404.js")

    script(src="main/main.js")

    script(src="fireside/fireside.js")

    script(src="faq/faq.js")
    <!-- endbuild -->

    <!-- Google Analytics: gs.js -->
    <!-- inject -->
