header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='140'  height='150'>

  .col-xs-12
    h1#subtitle.
      404
    h2#time-and-place.
      You look lost
    h3#time-and-placej
      | Head 
      a(href="/") back to the campsite
      | , camper.

