header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='140'  height='150'>

  .col-xs-12
    .vspace
    h2 Are you lost?
    h3
      | You should 
      a(href="/") head back
      |  to the campsite.

