#waiver(ng-show="isLoaded")
  header#header.row.btc-row
    div(ng-include="" onload="isLoaded = true" src="'layout/header-logo-notenttree.html'")
    .col-xs-12
      h1 Camper waiver


  #waiver-content.light-on-dark
    .container
      .row.btc-row
        #waiver-content-inner.col-xs-12
          h2 Liability Release
          .document
            p
              strong
                | BY ENTERING YOUR NAME IN THE SIGNATURE BOX BELOW AND CLICKING THE "I AGREE" BUTTON, YOU ARE AGREEING TO THE TERMS AND CONDITIONS SET FORTH BELOW VIA
                | ELECTRONIC SIGNATURE.
            p
              | BITCAMP
            p
              | UNIVERSITY OF MARYLAND, APRIL 4-6, 2014
            p
              | Liability Release, Waiver, Discharge and Covenant Not to Sue
            p
              | This is a legally binding Release, Waiver, Discharge and Covenant Not to Sue (collectively, "Release"), executed voluntarily by me, the undersigned
              | Releasor, on my own behalf, and on behalf of my heirs, executors, administrators, legal representatives and assigns (hereinafter collectively, "Releasor,"
              | "I" or "me", which terms shall also include Releasor's parents/guardians, if Releasor is under 18 years of age).
            p
              | As the undersigned Releasor, I fully recognize that there are dangers and risks to which I may be exposed by participating in the program, trip or other
              | activity described as Bitcamp at the University of Maryland, April 4 - 6, 2014, which includes an overnight component (the "Activity"). As the undersigned
              | Releasor, I understand that neither Bitcamp LLC, Startup Shell Inc. and the student organization named Terrapin Hackers (collectively, the "Bitcamp Team")
              | nor the University of Maryland (the "University") require me to participate in this Activity, but that I am voluntarily participating despite the possible
              | dangers and risks and despite this Release. With informed consent, and for valuable consideration received, including assistance provided by the University
              | and the Bitcamp Team, as the undersigned Releasor, I agree to assume and take on myself all of the risks and responsibilities in any way arising from or
              | associated with this Activity, and I release the University and the Bitcamp Team and all of their affiliates, divisions, departments and other units,
              | committees and groups, and their respective governing boards, officers, directors, principals, trustees, legal representatives, members, owners, employees,
              | volunteers, agents, administrators, assigns, and contractors (collectively "Releasees"), from any and all claims, demands, suits, judgments, damages,
              | actions and liabilities of every name and nature whatsoever, whenever occurring, whether known or unknown, contingent or fixed, at law or in equity, that I
              | may suffer at any time arising from or in connection with the Activity, including any injury or harm to me, my death, or damage to my property
              | (collectively "Liabilities"), and I agree to defend, indemnify, and save Releasees harmless from and against any and all Liabilities. Neither the
              | University nor the Bitcamp Team shall be responsible to any person or entity for my acts or omissions.
            p
              | As the undersigned Releasor, I recognize that this Release means I am giving up, among other things, all rights to sue Releasees for injuries, damages or
              | losses I may incur. I also understand that this Release binds my heirs, executors, administrators, legal representatives and assigns, as well as myself.
            p
              | I agree that this Release shall be governed for all purposes by Maryland law, without regard to such law on choice of law.
            p
              strong
                | I have read this entire Release. I fully understand the entire Release and acknowledge that I have had the opportunity to review this Release with an
                | attorney of my choosing if I so desire, and I agree to be legally bound by the Release.
            p
              strong
            strong THIS IS A RELEASE OF YOUR RIGHTS; READ CAREFULLY BEFORE SIGNING.
          p
            strong
              | Code of Conduct
          .document
            p(align='center')
              strong
                | BY ENTERING YOUR NAME IN THE SIGNATURE BOX BELOW AND CLICKING THE "I AGREE" BUTTON, YOU ARE AGREEING TO THE TERMS AND CONDITIONS SET FORTH BELOW VIA
                | ELECTRONIC SIGNATURE.
            p
              strong
            p
              strong Bitcamp Code of Conduct
            p
              strong TL;DR
            p
              | Our event is dedicated to providing a harassment-free event experience for everyone, regardless of gender, age, sexual orientation, gender identity,
              | disability, marital status, physical appearance, veteran status, national origin, body size, race, or religion. We do not tolerate harassment of event
              | participants in any form. Sexual language and imagery is not appropriate for any component of the event including online interaction. Event participants
              | violating these rules may be sanctioned or expelled from the event at the discretion of the event organizers.
            p
              strong The Less Quick Version
            p
              | Harassment includes offensive verbal or non-verbal comments or expression related to gender, sexual orientation, age, disability, physical appearance,
              | veteran status, national origin, body size, race, gender identity, marital status, religion, sexual images in public spaces, deliberate intimidation,
              | stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome
              | sexual attention.
            p
              | Participants asked to stop any harassing behavior are expected to comply immediately. Sponsors are also subject to the anti-harassment policy. In
              | particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised
              | clothing/uniforms/costumes, or otherwise create a sexualised environment.
            p
              | If a participant engages in harassing behavior, the event organizers may take any action they deem appropriate, including warning the offender or expulsion
              | from the event.
            p
              | If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of event staff immediately.
              | Event staff can be identified as they'll be wearing a colored bandanna on their person.
            p
              | Event staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those
              | experiencing harassment to feel safe for the duration of the event. We value your attendance.
            p
              | We expect participants to follow these rules at event and workshop venues and event-related social events. We have a zero-tolerance policy on harassment.
              | If you see anything that makes you uncomfortable or that you believe is making other hackers uncomfortable, you should disclose that to the event
              | organizers in a responsible manner.
            p
              em
                | Credit for this Code of Conduct goes to The Ada Initiative, with the original source being http://2012.jsconf.us/#/about. You can find their unmodified
                | Code of Conduct at http://confcodeofconduct.com/. This work is licensed under a Creative Commons Attribution 3.0 Unported License
          p(align='center')
            strong
              | Participation Agreement
          .document
            p(align='center')
              strong
                | BY ENTERING YOUR NAME IN THE SIGNATURE BOX BELOW AND CLICKING THE "I AGREE" BUTTON, YOU ARE AGREEING TO THE TERMS AND CONDITIONS SET FORTH BELOW VIA
                | ELECTRONIC SIGNATURE.
            p(align='center')
              | BITCAMP PARTICIPATION AGREEMENT
            p
              strong
            p
              | By signing this Participation Agreement, I hereby agree to comply with all of the Bitcamp rules and procedures and to act in accordance with the
              | instructions of Bitcamp officials. I understand that, should I violate any of the aforementioned guidelines, I will be subject to the consequences deemed
              | appropriate by the Bitcamp officials. Such consequences may involve the revocation of prizes and/or ejection from the Bitcamp. I verify that I have
              | represented myself accurately on my application and in any subsequent information provided for Bitcamp officials. I understand that I may create the
              | concept for my project or the project of my team ("My Project") before I arrive at the contest, but that all development on My Project will take place on
              | the University of Maryland campus between 7:00 PM EST on Friday, April 4, 2014, and 10:00 AM EST on Sunday, April 6, 2014, unless stated otherwise by a
              | Bitcamp official.
            p
              | I understand that Bitcamp will not claim ownership on My Project, but I hereby represent and warrant that all of the work on My Project is original to me
              | or to my team and was produced during the event. That said, I also understand that my team can use publicly available code to produce My Project, as long
              | as the license on that code allows such use and would allow My Project to be produced and marketed in commerce without further payment or restriction. I
              | agree to allow Bitcamp officials or judges to view code from My Project for the purpose of judging and that the ruling of the judges is final. Bitcamp has
              | no ownership interest in My Project and therefore has no liability for any legal or contractual issues that arise from My Project. I hereby agree to
              | indemnify, hold harmless and defend any official or member of Bitcamp, Terrapin Hackers, Startup Shell, and the University of Maryland against any
              | liability related to My Project.
            p
              | I hereby grant Bitcamp, Terrapin Hackers, Startup Shell, and the University of Maryland, as well as any sponsors of Bitcamp, permission to use my photo or
              | video image and the demo of My Project freely for any purpose.
            p
              | I acknowledge that I am responsible for respecting humankind and the hacking community at large by conducting myself in a manner deemed appropriate by the
              | Bitcamp officials and not being abusive to other individuals during the event.
          form.center(ng-submit="submit()")
            p(align='center')
              strong
                | BY ENTERING MY NAME IN THE SIGNATURE BOX BELOW AND CLICKING THE "I AGREE" BUTTON, I UNDERSTAND THAT I AM AGREEING TO THE TERMS AND CONDITIONS SET FORTH IN THE LIABILITY RELEASE, THE CODE OF CONDUCT, AND THE PARTICIPATION AGREEMENT ABOVE VIA ELECTRONIC SIGNATURE.
            .text-center
              input(type='text', name='name',
              placeholder="Sally Hacker",
              ng-model="name2", ng-disabled="done")

              br
              br
              p {{name}}
              br

            button.btn(type='submit',
            ng-class="{'btn-info': !done, 'btn-success': done}")
              | {{!done && 'I AGREE' || profile && 'Good to go!' || 'Login!'}}
