$color_white:      #ffffff

$color_grey-light: #e6d8cf
$color_grey-dark:  #806d60

$color_orange:     #ff7040

$color_yellow:     #ffaf40

$color_red:        #ff4046

$color_blue-light: #ccf2ff
$color_blue-dark:  #538da6


@mixin dark-on-light($bg)
  background-color: $bg
  color: $color_grey-dark
  button
    background-color: $color_orange

@mixin light-on-dark($bg)
  background-color: $bg
  color: $color_white
  button
    background-color: $color_yellow


body
  header
    @include dark-on-light($color_blue-light)
  #main
    #btc-description
      @include light-on-dark($color_grey-dark)
    #btc-isfor
      @include dark-on-light($color_white)
    #btc-permission
      @include light-on-dark($color_orange)
    #btc-sponsors
      @include dark-on-light($color_white)
    #btc-twitter
      @include dark-on-light($color_blue-light)
    #btc-map
      @include light-on-dark($color_blue-dark)
  footer
    @include light-on-dark($color_grey-dark)

