@import 'sass-bootstrap/lib/variables'
@import 'variables'
// ^ overwrite bootstrap variables

@import 'sass-bootstrap/lib/mixins'

@import 'sass-bootstrap/lib/normalize'

//@import 'sass-bootstrap/lib/type'
@import 'sass-bootstrap/lib/glyphicons'
@import 'sass-bootstrap/lib/scaffolding'
@import 'sass-bootstrap/lib/grid'

@import 'colors'
@import 'typo'


body
  min-width: 320px

.wrapper
  white-space: pre-line
  margin: 0 auto

.btc-row
  padding: 50px 15px
  text-align: center

.row
  margin-left: 0
  margin-right: 0

.clearfix
  @include clearfix()

button, .button
  padding: 24px 50px
  margin: 0.8em 0
  border: none

input
  @include placeholder($color_white)
  &:focus
    outline: none


header
  background-image: url('/images/treetent.svg')
  background-repeat: no-repeat
  background-position: 17% bottom
  white-space: normal
  #logo
    padding: 15px 0
  #title
    font-size: 2em
    font-weight: bold
    color: $color_orange
  #subtitle
    margin-top: 70px
    text-transform: uppercase
    @media (max-width: 420px)
      font-size: 4.4em
  #time-and-place #time
    @media (max-width: 500px)
      white-space: pre-line
  #call-to-action
    margin-bottom: 3em
    button
      white-space: pre
      padding: 0.8em 2.0em

#description
  line-height: 1.5em
  @media (max-width: 520px)
    white-space: normal

#isfor
  position: relative
  border-bottom: 3px dashed $color_grey-dark
  padding: 7em 0
  .isfor-img
    margin-bottom: 3em
  h4
    margin-bottom: 0.4em
  h5
    text-transform: uppercase
    margin-top: 0
  #scissors
    position: absolute
    bottom: -5px
    left: 20%

#permission
  .button
    @include transition(background-color 0.2s ease-in)
    background-color: $color_white
    color: $color_orange
    width: 100%
    max-width: 10.0em
  input[type=text], input[type=email]
    font-weight: 300
    font-size: 1.8em
    display: block
    width: 100%
    max-width: 18em
    background-color: transparent
    border: none
    border-bottom: solid 1px $color_white
    margin: 1em auto
    text-align: center
    color: $color_white
    &:focus
      @include placeholder(transparent)

@mixin block($w, $h)
  width: 100%
  max-width: $w
  height: $h
  display: inline-block
  margin: 0.6em
  color: $color_white
  background-color: $color_grey-light
  text-align: center
  .block-inner
    @include size(100%, $h)
    display: table
    span
      display: table-cell
      vertical-align: middle
      strong
        line-height: 1em
        font-size: 4.7em
      small
        margin-top: 0.2em
        font-size: 1.1em

#sponsors, #partners
  color: $color_grey-dark
  h4
    font-weight: lighter
    text-transform: uppercase
  .block-xs
    @include block(8.95em, 8.95em)
  .block-sm
    @include block(14em, 11em)
  .block-md
    @include block(19em, 14em)
  .block-lg
    @include block(30em, 11em)
  #sponsor-you
    background-color: $color_orangeyellow

#twitter
  padding: 4em 2em
  font-size: 1.3em
  h2
    line-height: 1.3em
    @media (max-width: 520px)
      white-space: normal
  a
    font-weight: bold

#map
  padding: 0
  font-size: 1.4em

  #map-inner
    padding: 5em 0
    @include size(100%, 100%)
    display: table
    #map-text
      vertical-align: middle
      display: table-cell
      .glyphicon-map-marker
        font-size: 2.2em

  position: relative
  background-color: transparent
  overflow: hidden
  #background, #foreground
    min-width: 1150px
    position: absolute
    @include square(100%)
  #background
    z-index: -1
    background: url('/images/map.png') no-repeat
    background-size: 100% auto
    filter: grayscale(1)
    opacity: 0.3
  #foreground
    z-index: -2
    background-color: darken(saturate($color_blue-dark, 30%), 20%)

footer
  font-size: 1.2em
  a
    color: $color_white
