$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

@import 'sass-bootstrap/lib/bootstrap'


body
  padding-top: 20px
  padding-bottom: 20px

  #header
    white-space: pre
    text-align: center
    h3
      margin-top: 0
      margin-bottom: 0
      line-height: 40px
      padding-bottom: 19px
    .btn
      font-size: 21px
      padding: 14px 24px


  #main
    text-align: center

    .btc-row
      padding: 15px 0
      h1, h2, h3, h4, h5, p
        white-space: pre

  #footer
    text-align: center
    padding-top: 19px


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
  /* Space out the masthead */
  #header
    margin-bottom: 30px

