@import 'variables'


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p, .p
  font-weight: normal
  margin: 0 0 0.5em 0
  font-family: inherit
  font-size: inherit
  line-height: 1em

h1, .h1, h5, .h5
  color: $color_orange
  font-weight: 300

p, h3, h4
  margin: 0.75em 0

button, .button
  color: $color_white
  letter-spacing: 1px

b, strong, .b
  font-weight: bold

h1
  font-size: $font-size-h1
h2
  font-size: $font-size-h2
h3
  font-size: $font-size-h3
h4
  font-size: $font-size-h4
h5
  font-size: $font-size-h5
h6
  font-size: $font-size-h6

p
  font-size: 1.5em
  line-height: 1.4em

a:active, a:focus
  outline: 0

::selection, ::-moz-selection
  background-color: $color_orange
  color: $color_white
