@import 'variables'


h1, .h1, h5, .h5
  color: $color_orange
  font-weight: 300

p, h3, h4
  margin: 0.75em 0

button, .button
  color: $color_white
  letter-spacing: 1px

b, strong, .b
  font-weight: bold

