#register-two
  p
    small * = required

  .row
    .form-group.col-xs-12
        input#register-school.form-control(
          type="text" placeholder="school")

  .row
    .form-group.col-xs-6
      input#register-majors.form-control(
        type="email" placeholder="major(s)")
    .form-group.col-xs-6
        input#register-minors.form-control(
          type="text" placeholder="minor(s)")

  .row
    .form-group.col-xs-12.col-sm-8
      label mode of transportation
      select#register-mode-of-transportation.form-control.input-md
        option get myself there
        option can take a bus
        option need a plane

  .row
    .form-group.col-xs-12.col-sm-6
      a(ui-sref="main")
        button#register-go-back.btn.btn-warning
          | go back

    .form-group.col-xs-12.col-sm-6
      a(ui-sref="register.two")
        button#register-continue1.btn.btn-info
          | continue
