#register-two
  p
    small * = required

  .row
    .form-group.col-xs-12
        input#register-school.form-control(
          type="text" placeholder="school")

  .row
    .form-group.col-xs-12.col-sm-6
      input#register-majors.form-control(
        type="email" placeholder="major(s)")
    .form-group.col-xs-12.col-sm-6
        input#register-minors.form-control(
          type="text" placeholder="minor(s)")

  .row
    .form-group.col-xs-12.col-sm-7
      label mode of transportation
      select#register-mode-of-transportation.form-control.input-md
        option get myself there
        option can take a bus
        option need a plane
    .form-group.col-xs-6.col-sm-3.text-right
      br
      label travel stipend?
    .form-group.col-xs-6.col-sm-2.text-left
      h3
        input#register-require-reiumbursement(type="checkbox")


footer
  .row
    .form-group.col-xs-12.col-sm-6
      a(ui-sref="register.one")
        button#register-goback2.btn.btn-warning
          | go back
    .form-group.col-xs-12.col-sm-6
      a(ui-sref="register.three")
        button#register-continue2.btn.btn-success
          | continue
