#register
  .register-view
    .register-wrapper
      header
        a(ui-sref="main" title="cancel")
          i#cancel-register.glyphicon.glyphicon-remove
        #header-inner
          h3.b new camper
        nav.nav-bubbles
          a(ui-sref="{{cookie && ' ' || '.one'}}")
            .nav-bubble#nav-bubbles-one(
              ng-class="{'nav-bubble-active': navBubbles[0]}")
          .nav-bubble-spacer
          a(ui-sref="{{cookie && '.two' || ''}}")
            .nav-bubble#nav-bubbles-two(
              ng-class="{'nav-bubble-active': navBubbles[1]}")
          .nav-bubble-spacer
          a(ui-sref="{{cookie && '.three' || ''}}")
            .nav-bubble#nav-bubbles-three(
              ng-class="{'nav-bubble-active': navBubbles[2]}")
          .nav-bubble-spacer
          a(ui-sref="{{cookie && '.four' || ''}}")
            .nav-bubble#nav-bubbles-four(
              ng-class="{'nav-bubble-active': navBubbles[3]}")

      section.register-body
        .register-body-inner.bitcamp-view-wrapper
          ui-view.bitcamp-view(autoscroll="false")

          hr(ng-if="api_messages")

          p#api-message.text-center(ng-repeat="m in api_messages")
            label.label.label-warning
              {{ m }}
