@import '../layout/variables'
@import 'sass-bootstrap/lib/mixins'


#register, #login
  margin-top:    -10vw
  margin-bottom: -10vw
  width: 100%

  input[type=text], input[type=email], input[type=text], input[type=password], select
    height:      3.5rem
    line-height: 3.5rem

  .required
    text-align: right
    margin-top: -2rem

  label, .label
    margin-bottom: 0.5rem

  #register-stipend
    text-align: center
    position: relative

  option[selected]
    color: $color_grey
  option
    color: $color_black

  .form-control
    margin-bottom: 0.7rem


  $form_width: 35rem

  $header-inner-size: 100px

  #cancel-register
    position:  absolute
    z-index:   1000
    top:       1.25rem
    right:     1.25rem
    font-size: 1.7rem
    color: $color_white
    transition: color 0.2s ease-out
    &:hover
      color: $brand_warning

  &:before, &:after
    margin-top: 14vw
    @media only screen and (max-width: $form_width)
      margin-top: 10vw
    content: ""
    display: block

  .register-view
    .register-wrapper
      margin: 0 auto
      max-width: $form_width
      width: 100%

      header
        position: relative
        #header-inner
          color: $color_grey
          padding: 1em 0.4em
          @media only screen and (min-width: $form_width)
            border-radius: 12px
          background-color: $color_white
          width: 100%
          margin: 2rem 0


        background-color: $color_grey-dark
        text-align: center

        padding: 2rem 0
        @media only screen and (min-width: $form_width)
          padding: 2rem 4vw
          border-radius: 12px 12px 0 0

      .register-body
        @media only screen and (max-width: $form_width)
          margin-bottom: -10vw
        padding: 3rem 2rem
        background-color: $color_grey-light
        color: $color_grey-dark

      footer
        padding-top: 1rem

      .btn
        font-weight: bold
        padding-top:    1.3rem
        padding-bottom: 1.3rem
        border: none


.nav-bubbles
  width: 100%
  margin: 0 auto

  $bubble_size: 24px
  $bubble_border_size: 3px
  .nav-bubble
    display: inline-block
    line-height: $bubble_size
    background-color: $color_grey
    @include square($bubble_size - $bubble_border_size)
    border: $bubble_border_size solid $color_grey-light
    border-radius: $bubble_size

    transition: background-color 0.2s ease-in

    &.nav-bubble-active
      background-color: $color_orange

  .nav-bubble, .nav-bubble-spacer
    &:hover
      transition: opacity 0.1s ease-out
      opacity: 0.7

  .nav-bubble-spacer
    display: inline-block
    width: $bubble_size * 0.85
    height: 3px
    background-color: $color_grey-light
    margin: ($bubble_size/2) 0 (($bubble_size/2) - $bubble_border_size - 1px) 0


@keyframes checkbox
  $h: 2.0em
  $w: 1.4em
  0%
    height:       0
    width:        0
    margin-top:   $h
    margin-right: $w
  50%
    height:       $h/2
    width:        $w/2
    margin-top:   $h/2
    margin-right: $w/2
  100%
    height:       $h
    width:        $w
    margin-top:   0
    margin-right: 0
