@import '../layout/variables'

#faq-content
  .container
    max-width: 960px
  white-space: normal
  #faq-content-inner
    text-align: left
    margin: 0 auto 4em
    > p
      text-indent: 1rem
  h3
    color: $color_blue-light
    &:not(:first-child)
      margin-top: 2em
  h4
    font-style: italic
  h5
    color: $color_white
  a
    font-weight: bold
