#faq(ng-show="isLoaded")
  header#header.row.btc-row
    div(ng-include="" onload="isLoaded = true" src="'layout/header-logo.html'")
    .col-xs-12
      h1 General FAQ


  #faq-content.row.btc-row.light-on-dark
    #faq-content-inner
      :markdown
        ### Intro
        Bitcamp is a place where you combine what you’re passionate about with
        technology. We value participant experience and mentorship over
        competitiveness and points. Bitcamp is a place where you come to have fun
        with your friends, learn something new, eat s’mores and have a generally
        awesome time. We have all sorts of crazy activities planned for
        you...you’ll have to come to find out the rest!

        ### Whats a hackathon?
        A hackathon is a creative coding marathon. Students are encouraged to come
        with an idea, form teams, and then build out that idea into a product in
        36 hours. For Bitcamp, we want you to combine something you love (sports!
        art! camping!) and combine it with technology to make something awesome.
        It is a great time to push the envelope and learn some new skills.

        ### Guidelines
        Don’t bring any firearms, knives, weapons, drugs or alcohol. Don’t use an
        old project. Start something new instead!

        ### Travel
        We’ll have buses covering travel from several schools. If there isn’t a
        bus from your school or area, we’ll be providing reimbursements on an
        application basis. We cannot reimburse anyone traveling from a school that
        has a bus.

        ### Timing
        People will arrive between 5pm and 7pm on Friday, April 4, 2014. Hacking
        will start at 9pm on Friday and go until 9am on Sunday, April 6, 2014.
        Closing session will end by 3pm on Sunday.

        ### Packing List
        Bring yourself, a photo ID, your signed waiver (if applicable), clothes,
        toiletries, a sleeping bag/blanket, your hacker setup and maybe an idea or
        two.

        ### Registration Process
        First, you sign the “permission slip” with your name, school, and email.
        Later, we will follow up with you with travel reimbursements, liability
        waivers, resumes, and the sort.

        ### Teams
        Projects are submitted by teams. You don’t need to finalize your team
        until project submissions are due during the event. Teams are limited to
        four people. You may have a one-person team.

        ### High Schoolers
        High schoolers will be admitted on a case-by-case basis. If you are a high
        schooler and are under 18, you will need to sign a special permission
        slip. Rules are rules.

        ### Experience + Ideas
        Don’t be afraid if you don’t think you have enough experience, a team or
        an idea. A hackathon is meant for learning and in addition we will help
        you out. We are going to have great mentors to help you out with 3D
        printing, web development, android, iOS, and everything in between. We
        will have workshops on all kinds of skills and even a workshop to help you
        come up with an idea for the weekend.

        <br>
        ##### If you have more questions, feel free to email us at [hello@bitca.mp] [hello]!

        [hello]:       mailto:hello@bitca.mp            "Send us an email!"

