#faq(ng-show="isLoaded")
  header#header.row.btc-row
    div(ng-include="" onload="isLoaded = true" src="'layout/header-logo.html'")
    .col-xs-12
      h1 Sponsor FAQ


  #faq-content.row.btc-row.light-on-dark
    #faq-content-inner
      :markdown
        ### Deadlines
        #### Feb. 21:
        Funds due via the invoice sent to you by the University. Please use
        invoice provided for tracking purposes; all checks must be made payable
        to UMCPF.

        #### Mar. 1:
        Logistics due for SocialRadar attendees and prize
        descriptions.

        #### Mar. 5:
        Committed funds cannot be refunded beyond this point.

        ### Bitcamp Theme
        There is no restrictive theme on hacks at Bitcamp. Our idea stems from
        YOU+TECH, where Bitcampers are encouraged to take something they love and
        infuse it with tech to make something awesome. Sponsors can often
        influence hacks by giving tech talks in the beginning on their products
        and by sponsoring a branded prize.

        ### Bitcamper Demographics
        We already have Bitcampers signed up from around the country. Many have a
        computer science or electrical engineering background. There will also be
        a few high schoolers and masters students present. We are reaching out to
        schools through Major League Hacking (mlh.io) and through our hackathon
        contacts. It’s going to be a great turnout.

        ### Bitcamp Provisions
        We’re doing it true camping style. There will be s’mores, sleeping bags, fun side quests, stories around the bonfire (i.e., tech talks), a small speaking stage, and lots of open space in the wilderness.

        ### Parking
        Parking will be complimentary for all sponsors. In order to give you
        parking passes, we need to know the contact information and addresses for
        drivers that will need the passes. This information is due to us by March
        1, 2014. We will mail drivers parking passes when we receive your contact
        information. We cannot guarantee parking passes for sponsors if
        information is given to us after March 1, 2014.

        ### Company Provisions
        * Sponsors will be camped in a ring around the main hacking space. Cole
        Field House, our designating camping/hacking grounds, is essentially a
        giant basketball stadium with a second level overlooking the main area.
        There are breakout rooms lining the first floor. A more detailed map of
        Cole Field House will be provided on the bitca.mp website in a few weeks.

        * We will provide tables, but we encourage sponsors to bring tableskirts,
        banners, and anything else you may need. Prepare as though you are going
        to a more fun, interactive career fair. A career fair where they feed you
        s’mores.

        * Company swag: Companies are also encouraged to bring marketing materials
        and company swag in the form of t-shirts, stickers, bags, pens,
        sunglasses, water bottles, mints, cards, and other fun stuff. Bitcampers
        love swag!

        * Prizes:  We find that students are most receptive to cash prizes. They
        also like company offers of one-on-one mentorship, business advice, and
        unique, in-kind offers—and it’s always fun to travel to company
        headquarters!

        * Hotel Blocks: We are working to set up hotel blocks for non-local
        employees interested in staying close to College Park. If your company
        would like to book through our hotel block, please contact our Travel
        Coordinator, Kunal Sharma, at [ksharma8@terpmail.umd.edu] [kunal].

        ### Company Representatives
        We do not limit the number of mentors you may bring. We love mentors and
        think they add value to Bitcamp through helping our Bitcampers succeed in
        their hacks. We would encourage you to bring at least one mentor.

        ### Recruitment
        If your sponsorship package includes recruitment privileges, then you may
        bring recruiters to the event. If your sponsorship package does not
        include recruitment, please do not bring recruiters.

        ### Refund Policy
        If you find that you need a refund for funds already transferred, we
        understand that sometimes things come up. Refunds will be given for
        companies that send a written refund request to [sponsorship@bitca.mp]
        [sponsorship] by March 5. Unfortunately, due to Bitcamp’s spending
        policy, we will not be able to provide refunds for committed funds
        beyond that date.

        [kunal]:       mailto:ksharma8@terpmail.umd.edu "Ask Kunal about travel"
        [sponsorship]: mailto:sponsorship@bitca.mp      "Send us an email!"

