header#header.row.btc-row
  .btc-background-wrapper
    #cloud-1.cloud
      <img src="/images/cloud-1.svg" width="150" height="80">
    #cloud-2.cloud
      <img src="/images/cloud-2.svg" width="150" height="80">
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src="/images/logo.svg" width="187" height="200">

  .col-xs-12.noselect
    h3#time-and-place
      span#time.
        Hackathon @
        University of Maryland
      #place April 4-6, 2014

  #call-to-action.col-xs-12
    a(href='' scroll-to='#permission')
      button#register.h3 register now

#main
  #description.row.btc-row
    #description-inner
      h2 a new hackathon experience

      h3.
        Take what you love, fuse it with tech,
        build something the world has never seen.

      p.
        Camp is a place for creation, exploration, and imagination.
        At Bitcamp, you’ll have 36 hours to combine your curiosities
        and wild ideas with code and gadgets to make something awesome.
        Throw in world-class mentors and hundreds of peers from
        around the world, and you’re in for an amazing time.

      p See you by the bonfire!

  #permission.row.btc-row
    h2 Permission Slip
    form(ng-controller='SignupCtrl' ng-submit='signup()')
      fieldset
        input(type='text'  placeholder='name'       ng-model='name')
        input(type='email' placeholder='email'      ng-model='email' class='input-email')
        input(type='text'  placeholder='university' ng-model='university')
      h3
        input.button#signup(type='submit' value='{{submitText}}' ng-style="submitStyles")
    <img id="scissors" src="/images/scissors.svg" alt="scissors" width="60" height="32">

  mixin sponsor(sponsor, width, height, href)
    a(href=href target="_blank")
      style(type="text/css").
        #sponsor-#{sponsor} {
          background: no-repeat url('/images/sponsor/#{sponsor}.png')
        }
      .sponsor(id="sponsor-#{sponsor}")

  #sponsors.row.btc-row.noselect
    .col-xs-12
      h2 Sponsors

      a(href="mailto:sponsorship@bitca.mp" target="_blank")
        button.btn#sponsor-you.noselect
          span
            .h1 You?
            .h3 Contact us!

    .col-xs-12
      +sponsor("lts",                 "150px", "150px", "http://www.ltsnet.net/")
    .col-xs-12
      +sponsor("booz-allen-hamilton", "230px",  "72px", "http://www.boozallen.com/", true, "400px", "125px")
    .col-xs-12
      +sponsor("appian",              "172px", "100px", "http://www.appian.com/")
      +sponsor("att",                 "175px", "100px", "http://www.att.com/")
      +sponsor("cipher",              "200px", "100px", "http://www.ciphertechsolutions.com/")
      +sponsor("clarabridge",         "149px", "100px", "http://www.clarabridge.com/")
    .col-xs-12
      +sponsor("daocloud",            "117px", "100px", "http://daocloud.com/")
      +sponsor("opis",                "121px", "100px", "http://www.opisnet.com/")
      +sponsor("sparkfun",            "206px", "100px", "https://www.sparkfun.com/")
      +sponsor("socialradar",         "246px", "100px", "http://socialradar.com/")
    .col-xs-12
      +sponsor("mashery",             "138px", "100px", "http://www.mashery.com/")
      +sponsor("mongodb",             "230px", "100px", "http://www.mongodb.com/")
      +sponsor("namecheap",           "160px", "100px", "https://www.namecheap.com/")
    .col-xs-12
      +sponsor("rdio",                "164px", "100px", "http://www.rdio.com/")
      +sponsor("sendgrid",            "230px", "100px", "http://sendgrid.com/")

    #partners.col-xs-12
      h2    Partners
      +sponsor("terrapin-hackers",    "126px", "100px", "http://terrapinhackers.com/")
      +sponsor("startup-shell",       "157px", "100px", "http://startupshell.org/")
      +sponsor("mlh",                 "166px", "100px", "http://mlh.io/")

  #twitter.row.btc-row
    h3
      | Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
      br
      | join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a#map(href="http://goo.gl/maps/qS5Tf" target="_blank")
    .row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner
        #map-text
          h2
            span.glyphicon.glyphicon-map-marker
            br
            | Cole Field House
          h3 College Park, MD


footer#footer.row.btc-row
  .col-xs-12
    p
      | Bitcamp 2014
      br

      a(href="mailto:hello@bitca.mp" target="_blank") Email
      | &ensp;·&ensp;
      a(href="https://twitter.com/bitcmp" target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
  .clearfix
