#main(ng-show="isLoaded")
  header#header.row.btc-row
    div(ng-include="" src="'layout/header-logo.html'" onload="isLoaded = true")

    .col-xs-12
      h3#time-and-place
        span#time.
          Hackathon @
          University of Maryland
        #place April 4-6, 2014

    #call-to-action.text-center

      .col-xs-12(ng-hide="cookie")
        h3
          a(ui-sref="register.one" role="button")
            button.btn-warning#register1-btn register

      .col-xs-12(ng-hide="cookie")
        .p.text-center
          a(ui-sref="login.main" role="button")
            span#login-btn login

      .col-xs-12(ng-show="cookie")
        br
        br


  #description.row.btc-row
    .col-xs-12
      #description-inner
        h2 a new hackathon experience

        h3.
          Take what you love, fuse it with tech,
          build something the world has never seen.

        p.
          Camp is a place for creation, exploration, and imagination.
          At Bitcamp, you’ll have 36 hours to combine your curiosities
          and wild ideas with code and gadgets to make something awesome.
          Throw in world-class mentors and hundreds of peers from
          around the world, and you’re in for an amazing time.
          See you by the bonfire!

        h3.b
          a(ui-sref="faq" scroll-to="#wrapper")
            button.btn-btn-warning#faq-button FAQ

        .p.text-center
          a(href="https://docs.google.com/forms/d/1vk4a96fPxru0OEQuQZLQcSwNrVPrHpg1AP7Dn_5FqbE/viewform" role="button")
            span.light-on-dark volunteer sign-up



  #sponsors.row.btc-row
    .col-xs-12
      h2 Sponsors

    mixin sponsor(sponsor, href)
      a(href=href target="_blank")
        .sponsor(id="sponsor-#{sponsor}")

    .col-xs-12
      +sponsor("lts",                 "http://www.ltsnet.net/")
    .col-xs-12
      +sponsor("booz-allen-hamilton", "http://www.boozallen.com/")
      +sponsor("oculus",              "http://www.oculusvr.com/")
      +sponsor("globalthinking",      "http://www.globalthinking.com/")
    .col-xs-12
      +sponsor("appian",              "http://www.appian.com/")
      +sponsor("att",                 "http://www.att.com/")
      +sponsor("cipher",              "http://www.ciphertechsolutions.com/")
      +sponsor("clarabridge",         "http://www.clarabridge.com/")
      +sponsor("creativemarket",      "http://www.creativemarket.com/")
      +sponsor("daocloud",            "http://www.daocloud.com/")
      +sponsor("digitalocean",        "http://www.digitalocean.com/")
      +sponsor("generalcatalyst",     "http://www.generalcatalyst.com/")
      +sponsor("hp",                  "http://www.hp.com/")
      +sponsor("intel",               "http://www.intel.com/")
      +sponsor("lob",                 "http://www.lob.com/")
      +sponsor("mashery",             "http://www.mashery.com/")
      +sponsor("microsoft",           "http://www.microsoft.com/")
      +sponsor("mongodb",             "http://www.mongodb.com/")
      +sponsor("namecheap",           "https://www.namecheap.com/")
      +sponsor("opis",                "http://www.opisnet.com/")
      +sponsor("opower",              "http://opower.com/")
      +sponsor("pepsi",               "http://pepsi.com/")
      +sponsor("rdio",                "http://www.rdio.com/")
      +sponsor("sendgrid",            "http://www.sendgrid.com/")
      +sponsor("sga",                 "http://www.mdsga.com/")
      +sponsor("socialradar",         "http://socialradar.com/")
      +sponsor("sparkfun",            "https://www.sparkfun.com/")
      +sponsor("stickermule",         "http://www.stickermule.com/")
      +sponsor("tata",                "http://web.tatatechnologies.com/")
      +sponsor("thiel",               "http://thielfellowship.org/")
      +sponsor("wolfram",             "http://wolfram.com/")
      +sponsor("ampvita",             "http://gethotdrop.com/")
      +sponsor("imaginex",            "https://www.facebook.com/imaginexco/")
      +sponsor("kivvik",              "http://kivvik.com/")
      +sponsor("ventureboard",        "http://ventureboard.co/")

    #partners.col-xs-12
      h2 Partners
      +sponsor("startup-shell",       "http://startupshell.org/")
      +sponsor("terrapin-hackers",    "http://terrapinhackers.com/")
      +sponsor("mlh",                 "http://mlh.io/")

    .col-xs-12
      h5
        a(href="mailto:sponsorship@bitca.mp" target="_blank")
          | your name here?
      h3
        a(ui-sref="faq_sponsors" scroll-to="#wrapper")
          button#sponsor-you sponsor FAQ

  #twitter.row.btc-row
    .col-xs-12
      h3.
        Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
        join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a#map(href="http://goo.gl/maps/qS5Tf" target="_blank")
    .row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner.col-xs-12
        #map-text
          .h2
            span.glyphicon.glyphicon-map-marker
            br
            | Cole Field House
          .h3 College Park, MD
