header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='187' height='200'>

  .col-xs-12
    h3#time-and-place
      span#time.
        Hackathon @
        University of Maryland
      #place April 4-6, 2014

  #call-to-action.col-xs-12
    a(href='' scroll-to='#permission')
      button#register.h3 register now


#main
  #description.row.btc-row
    h2 36 hours&ensp;·&ensp;1000+ campers&ensp;·&ensp;s'mores

    h3.
      Take what you love, fuse it with tech,
      build something the world has never seen.

    p.
      Your curiosities, hobbies, and wild ideas; plus code and cool
      gadgets like the Oculus Rift and the NeuroSky MindWave; under
      the guidance of world class mentors and your amazing peers? We're
      willing to bet that you'll amaze us, your friends, and even yourself,
      no matter what your background - so we're reimbursing travel!
      With enough prizes to fill a tent, attendance is open
      to all college students. See you by the bonfire!

  #permission.row.btc-row
    h2 Permission Slip
    form(ng-controller='SignupCtrl' ng-submit='signup()')
      fieldset
        input(type='text'  placeholder='name'       ng-model='name')
        input(type='email' placeholder='email'      ng-model='email' class='input-email')
        input(type='text'  placeholder='university' ng-model='university')
      h3
        input.button#signup(type='submit' value='{{submitText}}' ng-style="submitStyles")
    <img id="scissors" src="/images/scissors.svg" alt="scissors" width="60" height="32">

  mixin sponsor(sponsor, aHref)
    div.sponsor
      a(href=aHref)
        <img src="/images/sponsor/#{sponsor}.png">

  #sponsors.row.btc-row.noselect
    .col-xs-12
      h2 Sponsors
    .col-xs-12
      mixin sponsor("lts", "http://www.boozallen.com/")
    .col-xs-12
      mixin sponsor("booz-allen-hamilton", "http://www.boozallen.com/")
    .col-xs-12
      mixin sponsor("appian",              "http://www.appian.com/")
      mixin sponsor("att",                 "http://www.att.com/")
      mixin sponsor("cipher",              "http://www.ciphertechsolutions.com/")
      mixin sponsor("clarabridge",         "http://www.clarabridge.com/")
    .col-xs-12
      mixin sponsor("daocloud",                 "http://www.att.com/")
      mixin sponsor("opis",                "http://www.opisnet.com/")
      mixin sponsor("sparkfun",            "https://www.sparkfun.com/")
      mixin sponsor("socialradar",         "http://socialradar.com/")
    .col-xs-12
      mixin sponsor("mashery",         "http://www.clarabridge.com/")
      mixin sponsor("mongodb",                "http://www.opisnet.com/")
      mixin sponsor("namecheap",         "http://socialradar.com/")
      mixin sponsor("rdio",            "https://www.sparkfun.com/")
      mixin sponsor("sendgrid",            "https://www.sparkfun.com/")


    #partners.col-xs-12
      h2 Partners
      mixin sponsor("terrapin-hackers",    "http://terrapinhackers.com/")
      mixin sponsor("startup-shell",       "http://startupshell.org/")
      mixin sponsor("mlh",                 "http://mlh.io/")

  #twitter.row.btc-row
    h3
      | Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
      | join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a(href="http://goo.gl/maps/qS5Tf" target="_blank")
    #map.row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner
        #map-text
          span.glyphicon.glyphicon-map-marker
          h2 Cole Field House
          h3 College Park, MD


footer#footer.row.btc-row
  .col-xs-12
    p
      | Bitcamp 2014
      | 
      a(href="https://twitter.com/bitcmp" target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
  .clearfix
