#main(ng-show="isLoaded")
  header#header.btc-row
    div.clearfix(ng-include="" src="'layout/header-logo.html'" onload="isLoaded = true")

    .h1#title Lights Out
    .p#subtitle Ready for s'more hacks? Bitcamp 2015 coming soon.

    h3
      a(href="//2014.bitca.mp/" target="_blank")
        button 2014 website

  #updates.btc-row
    #updates-input
      h2 get email updates
      h3
        form(id="signup", name="signup", ng-submit="signup()")
          input(type="text", autocapitalize="off", autocorrect="off", spellcheck="false", ng-model="signup.name"   placeholder="name")
          input(type="text", autocapitalize="off", autocorrect="off", spellcheck="false", ng-model="signup.email"  placeholder="email")
          input(type="text", autocapitalize="off", autocorrect="off", spellcheck="false", ng-model="signup.school" placeholder="school")

