header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='187' height='200'>

  .col-xs-12
    h3#time-and-place
      span#time.
        Hackathon @
        University of Maryland
      #place April 4-6, 2014

  #call-to-action.col-xs-12
    a(href='' scroll-to='#permission')
      button#register.h3 register now

#main
  #description.row.btc-row
    h2 a new hackathon experience

    h3.
      Take what you love, fuse it with tech,
      build something the world has never seen.

    p.
      Camp is a place for creation, exploration, and imagination. At Bitcamp,
      you’ll have 36 hours to combine your curiosities and wild ideas with code and
      gadgets to make something awesome. Throw in world-class mentors and hundreds
      of peers from around the world, and you’re in for an amazing time! We're willing to bet
      you'll make something incredible no matter your background or experience, so we'll
      take care of everything, including travel, lodging, and food. Get pumped to hack
      at the historic Cole Field House on the beautiful University of Maryland
      campus in an event like no other.

      Such s’mores. So tech. Very camp. Wow.
      See you by the bonfire!

  #permission.row.btc-row
    h2 Permission Slip
    form(ng-controller='SignupCtrl' ng-submit='signup()')
      fieldset
        input(type='text'  placeholder='name'       ng-model='name')
        input(type='email' placeholder='email'      ng-model='email' class='input-email')
        input(type='text'  placeholder='university' ng-model='university')
      h3
        input.button#signup(type='submit' value='{{submitText}}' ng-style="submitStyles")
    <img id="scissors" src="/images/scissors.svg" alt="scissors" width="60" height="32">

  mixin sponsor(sponsor, aHref)
    div.sponsor
      a(href=aHref target="_blank")
        <img src="/images/sponsor/#{sponsor}.png">

  #sponsors.row.btc-row.noselect
    .col-xs-12
      h2 Sponsors

      a(href="mailto:sponsorship@bitca.mp" target="_blank")
        button.btn#sponsor-you.noselect
          span
            .h1 You?
            .h3 Contact us!

    .col-xs-12
      mixin sponsor("lts",                 "http://www.ltsnet.net/")
    .col-xs-12
      mixin sponsor("booz-allen-hamilton", "http://www.boozallen.com/")
    .col-xs-12
      mixin sponsor("appian",              "http://www.appian.com/")
      mixin sponsor("att",                 "http://www.att.com/")
      mixin sponsor("cipher",              "http://www.ciphertechsolutions.com/")
      mixin sponsor("clarabridge",         "http://www.clarabridge.com/")
    .col-xs-12
      mixin sponsor("daocloud",            "http://daocloud.com/")
      mixin sponsor("opis",                "http://www.opisnet.com/")
      mixin sponsor("sparkfun",            "https://www.sparkfun.com/")
      mixin sponsor("socialradar",         "http://socialradar.com/")
    .col-xs-12
      mixin sponsor("mashery",             "http://www.mashery.com/")
      mixin sponsor("mongodb",             "http://www.mongodb.com/")
      mixin sponsor("namecheap",           "https://www.namecheap.com/")
      mixin sponsor("rdio",                "http://www.rdio.com/")
      mixin sponsor("sendgrid",            "http://sendgrid.com/")


    #partners.col-xs-12
      h2    Partners
      mixin sponsor("terrapin-hackers",    "http://terrapinhackers.com/")
      mixin sponsor("startup-shell",       "http://startupshell.org/")
      mixin sponsor("mlh",                 "http://mlh.io/")

  #twitter.row.btc-row
    h3
      | Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
      | join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a#map(href="http://goo.gl/maps/qS5Tf" target="_blank")
    .row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner
        #map-text
          h2 Cole Field House
          h3 College Park, MD


footer#footer.row.btc-row
  .col-xs-12
    p
      | Bitcamp 2014
      | 
      a(href="https://twitter.com/bitcmp" target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
  .clearfix
