#main(ng-show="isLoaded")
  header#header.row.btc-row
    .btc-background-wrapper
      #cloud-1.cloud
        <img src="/images/cloud-1.svg" width="150" height="80">
      #cloud-2.cloud
        <img src="/images/cloud-2.svg" width="150" height="80">
      .btc-background
        a(href="/fireside")
          <img src="/images/treetent.svg" width="100" height="100" id="treetent">

    div(ng-include="" src="'layout/header-logo.html'" onload="isLoaded = true")

    .col-xs-12.noselect
      h3#time-and-place
        span#time.
          Hackathon @
          University of Maryland
        #place April 4-6, 2014

    #call-to-action.col-xs-12
      a(href='' scroll-to='#permission')
        button#register.h3 register now

  #description.row.btc-row
    #description-inner
      h2 a new hackathon experience

      h3.
        Take what you love, fuse it with tech,
        build something the world has never seen.

      p.
        Camp is a place for creation, exploration, and imagination.
        At Bitcamp, you’ll have 36 hours to combine your curiosities
        and wild ideas with code and gadgets to make something awesome.
        Throw in world-class mentors and hundreds of peers from
        around the world, and you’re in for an amazing time.
        See you by the bonfire!


      a(href="/faq")
        button#faq-button.h3.b tell me more!

  #permission.row.btc-row
    h2 Permission Slip
    form(ng-controller='SignupCtrl' ng-submit='signup()')
      fieldset
        input(type='text'  placeholder='name'       ng-model='name')
        input(type='email' placeholder='email'      ng-model='email' class='input-email')
        input(type='text'  placeholder='university' ng-model='university')
      h3
        input.button#signup(type='submit' value='{{submitText}}' ng-style="submitStyles")
    <img id="scissors" src="/images/scissors.svg" alt="scissors" width="60" height="32">

  #sponsors.row.btc-row.noselect
    .col-xs-12
      h2 Sponsors

      a(href="/faq/sponsors")
        button#sponsor-you.noselect
          .h1 You?
          .h3 Contact us!

    mixin sponsor(sponsor, href)
      a(href=href target="_blank")
        .sponsor(id="sponsor-#{sponsor}")

    .col-xs-12
      +sponsor("lts",                 "http://www.ltsnet.net/")
    .col-xs-12
      +sponsor("booz-allen-hamilton", "http://www.boozallen.com/")
    .col-xs-12
      +sponsor("appian",              "http://www.appian.com/")
      +sponsor("att",                 "http://www.att.com/")
      +sponsor("cipher",              "http://www.ciphertechsolutions.com/")
      +sponsor("clarabridge",         "http://www.clarabridge.com/")
    .col-xs-12
      +sponsor("daocloud",            "http://daocloud.com/")
      +sponsor("opis",                "http://www.opisnet.com/")
      +sponsor("sparkfun",            "https://www.sparkfun.com/")
      +sponsor("socialradar",         "http://socialradar.com/")
    .col-xs-12
      +sponsor("mashery",             "http://www.mashery.com/")
      +sponsor("mongodb",             "http://www.mongodb.com/")
      +sponsor("namecheap",           "https://www.namecheap.com/")
    .col-xs-12
      +sponsor("rdio",                "http://www.rdio.com/")
      +sponsor("sendgrid",            "http://sendgrid.com/")

    #partners.col-xs-12
      h2    Partners
      +sponsor("terrapin-hackers",    "http://terrapinhackers.com/")
      +sponsor("startup-shell",       "http://startupshell.org/")
      +sponsor("mlh",                 "http://mlh.io/")

  #twitter.row.btc-row
    h3.
      Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
      join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a#map(href="http://goo.gl/maps/qS5Tf" target="_blank")
    .row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner
        #map-text
          h2
            span.glyphicon.glyphicon-map-marker
          h2
            | Cole Field House
          h3 College Park, MD

