@import 'sass-bootstrap/lib/mixins'
@import '../layout/variables'


header
  .cloud
    position: absolute
    z-index: 2
    width: 150px
    height: 80px
  #cloud-1
    top:   35%
    left:  10%
    animation: float-1 40s 1 forwards linear
  #cloud-2
    top:   15%
    right: 10%
    animation: float-2 34s 1 forwards linear

  #time-and-place
    line-height: 1.3em
    #time
      @media (max-width: 500px)
        white-space: pre-line

  #call-to-action
    margin-bottom: 2.7em
    button
      white-space: pre
      padding-left: 0
      padding-right: 0


#description
  line-height: 1.5em
  p
    white-space: normal
  #description-inner
    margin: 0 auto
    max-width: 1050px


#isfor
  border-bottom: 3px dashed $color_grey-dark
  padding: 7em 0
  .isfor-img
    margin-bottom: 3em
  h4
    margin-bottom: 0.4em
  h5
    text-transform: uppercase
    margin-top: 0
  #scissors
    position: absolute
    bottom: -5px
    left: 20%


#permission
  border-top: dashed 2px $color_white
  #scissors
    position: absolute
    z-index: 2
    top: -28px
    left: 20%
  .button
    background-color: $color_white
    color: $color_orange
  input[type=text], input[type=email]
    font-weight: 300
    font-size: 1.8em
    display: block
    width: 100%
    max-width: 18em
    background-color: transparent
    border: none
    border-bottom: solid 1px $color_white
    margin: 1em auto
    text-align: center
    color: $color_white
    &:focus
      @include placeholder(transparent)


#sponsors
  #sponsor-you
    margin:  10px auto 30px auto
    padding: 15px
    font-size: 70%
    *
      color: $color_white
    background-color: $color_orange
    width: 100%
    max-width: 380px

  #partners
    margin-top: 40px

  .sponsor
    display: inline-block
    @media (min-width: 400px)
      margin: 20px
    transition: opacity 0.2s ease-out
    &:hover
      opacity: 1
    opacity: 0.8

  @mixin sponsor($name, $width, $height)
    #sponsor-#{$name}
      width:  $width
      height: $height
      background: no-repeat url('/images/sponsor/#{$name}.png')

  @include sponsor(appian,              172px, 100px)
  @include sponsor(att,                 175px, 100px)
  @include sponsor(booz-allen-hamilton, 230px,  72px)
  @include sponsor(cipher,              200px, 100px)
  @include sponsor(clarabridge,         149px, 100px)
  @include sponsor(daocloud,            117px, 100px)
  @include sponsor(lts,                 150px, 150px)
  @include sponsor(mashery,             138px, 100px)
  @include sponsor(mlh,                 166px, 100px)
  @include sponsor(mongodb,             230px, 100px)
  @include sponsor(namecheap,           160px, 100px)
  @include sponsor(opis,                121px, 100px)
  @include sponsor(parsons,             365px, 125px)
  @include sponsor(rdio,                164px, 100px)
  @include sponsor(sendgrid,            230px, 100px)
  @include sponsor(socialradar,         246px, 100px)
  @include sponsor(sparkfun,            206px, 100px)
  @include sponsor(startup-shell,       157px, 100px)
  @include sponsor(terrapin-hackers,    126px, 100px)

  @media only screen and (min-width: 500px)
    @include sponsor(booz-allen-hamilton, 400px, 125px)

    #sponsor-booz-allen-hamilton
      background: no-repeat url('/images/sponsor/booz-allen-hamilton-lg.png')

#map
  display: block
  &:hover
    text-decoration: none
  .btc-row
    height: 350px
  h2
    margin: 0
  position: relative
  background-color: transparent
  overflow: hidden
  .btc-background-wrapper
    $bg-min-width: 700px
    min-width: $bg-min-width
    position: absolute
    @media (max-width: $bg-min-width)
      left: 50%
      margin-left: (-0.5)*$bg-min-width
    z-index: -1
    .btc-background
      background: url('/images/cole.png') no-repeat
      background-size: 100% auto
      background-position: 0 70%


@keyframes float-1
  100%
    left: 100%

@keyframes float-2
  100%
    right: 100%

