@import 'sass-bootstrap/lib/mixins'
@import '../layout/variables'


#wrapper
  height: 100%

#main
  $btcbgtime: 1.0s

  .btc-background
    position: absolute
    &.ng-enter, &.ng-leave.ng-leave-active
      animation: fadeOutUp $btcbgtime
    &.ng-leave, &.ng-enter.ng-enter-active
      animation: fadeInUp $btcbgtime
    .star
      z-index: -4
      background-color: $color_white
      position: absolute
      @include square(0.2em)
      &.twinkle
        opacity: 0
        animation: twinkle 4.0s infinite ease-in
      @for $i from 0 through 1000
        &#star-#{$i}
          animation-delay:  0.0035s * $i !important
          transition-delay: 0.0035s * $i !important

  display: flex
  min-height: 100%
  flex-direction: column
  button, input[type=button], input[type=submit]
    max-width: 12em

  #header
    min-height: 100vh
    @for $i from 1 through 5
      > *:nth-child(#{$i*2})
        &.ng-enter, &.ng-leave.ng-leave-active
          animation: fadeOutLeft $btcbgtime
        &.ng-leave, &.ng-enter.ng-enter-active
          animation: fadeInLeft $btcbgtime
      > *:nth-child(#{$i*2-1})
        &.ng-enter, &.ng-leave.ng-leave-active
          animation: fadeOutRight $btcbgtime
        &.ng-leave, &.ng-enter.ng-enter-active
          animation: fadeInRight $btcbgtime
    padding: 4rem 0
    flex: 0

    #title
      margin-bottom: 2rem

    button
      color: $color_orange
      background: transparent
      border: 2px solid $color_orange
      border-radius: 12px
      margin: 2em 0.5em
      padding: 1.8rem 1rem
      transition: color 0.1s ease-in, background-color 0.1s ease-in, transform 0.1s ease-in
      &:hover
        background-color: $color_orange
        color: $color_white
    a
      display: inline-block
      perspective: 40rem
      min-width: 10em
      &:hover button
        transform: translateZ(2.0rem) translateY(-0.8rem)

  #updates
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    padding: 2rem 0
    #updates-input
      z-index: 2
      padding-bottom: 0.5*$footer-height
      input[type="text"]
        display: block
        margin: 0 auto
        border: none
        border-bottom: 2px solid $color_white
        padding-top:    0.7rem
        padding-bottom: 0.4rem
        width: 70%
        max-width: 650px
        color: $color_white
        background: transparent
        text-align: center


::-webkit-input-placeholder
  color: $color_white
::-moz-placeholder
  color: $color_white


.text-success
  color: $brand_success
.text-warning
  color: $brand_warning
.text-danger
  color: $brand_danger


@keyframes twinkle
  10%
    opacity: 0
  20%
    opacity: 1
  30%
    opacity: 0
