#layoverhacks
  header#header.row.btc-row
    #logo.col-xs-12.noselect
      a(href="/")
        <img src='/images/logo.svg' width='140' height='150'>
    .col-xs-12
      h1#subtitle Fireside
      h3#time-and-place Layovers really suck.
