header#header.row.btc-row
  #logo.col-xs-12
    img(src='http://placekitten.com/200/100', width='200', height='100')
  #title.col-xs-12 bitcamp

  h1#subtitle.col-xs-12 you + tech
  h2#time-and-place.col-xs-12
    | Hackathon @ University of Maryland
    | April 4-6, 2014

  #call-to-action.col-xs-12
    h3
      a(ng-href='#btc-permission')
        button#register register now


#main
  #btc-description.row.btc-row
    h3 36 hours • 1000+ hackers • $10M in prizes
    br

    h4
      | Take what you love, fuse it with tech,
      | build something the world has never seen.

    p
      | Camp is a place for creation, exploration, and imagination. Flannel Echo
      | Park salvia, biodiesel banjo cred scenester beard Shoreditch typewriter.
      | Cliche squid art party, 90's plaid lomo literally selvage pickled Etsy synth
      | gluten-free. Tofu Truffaut fap, kogi narwhal Tonx try-hard Blue Bottle
      | iPhone keytar High Life mumblecore single-origin coffee plaid.
    h4
      a(ng-href='#btc-details')
        button#more-details more details

  #btc-isfor.row.btc-row
    img(src='http://placekitten.com/200/100', width='200', height='200')
    h4
      b bitcamp
      |  is for
    h5.capslock artists

  #btc-permission.row.btc-row
    h3.b Permission Slip
    input(type='text',  placeholder='name')
    input(type='email', placeholder='email', class='input-email')
    input(type='text',  placeholder='university')
    h4
      a(ng-href='#btc-submit')
        button submit

  #btc-sponsors.row.btc-row
    h4 Sponsors
    .col-xs-12
      a(href='mailto:sponsorship@bitca.mp')
        #sponsor-you.sponsor.sponsor1
          strong YOU?
          small contact our team for more details
        .sponsor.sponsor1

  #btc-partners.row.btc-row
    h4 Partners

  #btc-twitter.row.btc-row
    h2
      | Hit up <a href="https://twitter.com/bitcmp">@bitcmp</a> on Twitter and
      | join the <a href="https://twitter.com/search?q=%23plustech">#plustech</a> conversation.

  #btc-map.row.btc-row
    h2
      b Cole Field House
      br
      | College Park, MD


footer#footer.row.btc-row
  p
    .col-xs-12 Bitcamp 2014
    .col-xs-12 Twitter • Facebook
  .clearfix
