header#header.row.btc-row
  #logo.col-xs-12
    <img src='/images/logo.svg' width='140'  height='150'>
  //-#title.col-xs-12 bitcamp

  .col-xs-12
    h1#subtitle.
      you
      +
      tech
    h2#time-and-place
      span#time
        | Hackathon
        | @
        | University of Maryland
      #place April 4-6, 2014

  #call-to-action.col-xs-12
    h3
      a(href='#permission' scroll-on-click='')
        button#register register now


#main
  #description.row.btc-row
    h3 36 hours • 1000+ hackers • $10M in prizes
    br

    h4.
      Take what you love, fuse it with tech,
      build something the world has never seen.

    p.
      Your curiosities, hobbies, and wild ideas; plus code and cool gadgets
      like the Pebble Smartwatch and the Oculus Rift; under the guidance of world
      class mentors and your amazing peers? We're willing to bet you'll make something
      mind blowing, no matter what your background; and so we'll pay for everything,
      including travel! When taking a break from your project, you'll get to spend
      time with other Bitcampers munching on s'mores around a massive bonfire.
      But don't slack too much - your team could win the $10k grand prize!
    h4
      a(href='/#details')
        button#more-details more details

  //-#isfor.row.btc-row
  //-  .col-xs-12
  //-    img.isfor-img(src='http://placekitten.com/200/200', width='200', height='200')
  //-    h4
  //-      b bitcamp
  //-      |  is for
  //-    h5 artists
  //-  <img id="scissors" src="/images/scissors.svg" alt="scissors">

  #permission.row.btc-row
    h3.b Permission Slip
    input(type='text',  placeholder='name')
    input(type='email', placeholder='email', class='input-email')
    input(type='text',  placeholder='university')
    h4
      a(ng-href='/#submit')
        button submit

  #sponsors.row.btc-row
    h4 Sponsors
    .col-xs-12
      a(href='mailto:sponsorship@bitca.mp')
        .block-lg#sponsor-you
          .block-inner
            span
              strong YOU?
              br
              small contact our team for more details
  //-  .col-xs-12
  //-    .block-lg
  //-  .col-xs-12
  //-    each i in [1, 2, 3]
  //-      .block-md
  //-    .clearfix
  //-    each i in [4, 5]
  //-      .block-md
  //-  .col-xs-12
  //-    each i in [1, 2]
  //-      each j in [1, 2, 3, 4]
  //-        .block-sm
  //-  .col-xs-12
  //-    each i in [1, 2, 3, 4]
  //-      each j in [1, 2, 3, 4, 5, 6]
  //-        .block-xs

  //-#partners.row.btc-row
  //-  h4 Partners
  //-  .col-xs-12
  //-    each i in [1, 2, 3, 4]
  //-      .block-sm

  #twitter.row.btc-row
    h2
      | Hit up <a href="https://twitter.com/bitcmp">@bitcmp</a> on Twitter and
      | join the <a href="https://twitter.com/search?q=%23plustech">#plustech</a> conversation.

  #map.row.btc-row
    #background
    #foreground
    #map-inner
      #map-text
        span.glyphicon.glyphicon-map-marker
        h2
          b Cole Field House
          .smaller College Park, MD


footer#footer.row.btc-row
  .col-xs-12
    b Bitcamp 2014
  .col-xs-12
    a(href="https://twitter.com/bitcmp") Twitter
    |  • 
    a(href="https://www.facebook.com/bitcmp") Facebook
  .clearfix
