header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='140'  height='150'>
  //-#title.col-xs-12 bitcamp

  .col-xs-12
    h1#subtitle.
      you
      +
      tech
    h3#time-and-place
      span#time.
        Hackathon @
        University of Maryland
      #place April 4-6, 2014

  #call-to-action.col-xs-12
    a(href='' scroll-to='#permission')
      button#register.h2 register now


#main
  #description.row.btc-row
    h2 1000+ campers&ensp;·&ensp;36 hours&ensp;·&ensp;s'mores and swag

    h3.
      Take what you love, fuse it with tech,
      build something the world has never seen.

    p.
      Your curiosities, hobbies, and wild ideas; plus code and cool
      gadgets like the Oculus Rift and the NeuroSky MindWave; under
      the guidance of world class mentors and your amazing peers? We're
      willing to bet that you'll amaze us, your friends, and even yourself,
      no matter what your background - so we're reimbursing travel!
      With enough prizes to fill a tent, attendance is open
      to all college students. See you by the bonfire!

  #permission.row.btc-row
    h2 Permission Slip
    form(ng-controller='SignupCtrl' ng-submit='signup()')
      fieldset
        input(type='text'  placeholder='name'       ng-model='name')
        input(type='email' placeholder='email'      ng-model='email' class='input-email')
        input(type='text'  placeholder='university' ng-model='university' ui-autocomplete="autocompleteOptions")
      h3
        input.button#signup(type='submit' value='submit')
    <img id="scissors" src="/images/scissors.svg" alt="scissors" width="60" height="32">

  mixin sponsor(size, sponsor, aHref)
    div(class="block-"+size)
      a(href=aHref)
        .block-inner
          span
            <img src="/images/sponsor/#{sponsor}.png">

  #sponsors.row.btc-row.noselect
    h2 Sponsors
    .col-xs-12
      mixin sponsor("lg", "appian", "http://www.appian.com/")
    .col-xs-12
      mixin sponsor("md", "att", "http://www.att.com/")
      mixin sponsor("md", "booz-allen-hamilton", "http://www.boozallen.com/")
      mixin sponsor("md", "cipher", "http://www.ciphertechsolutions.com/")
    .col-xs-12
      mixin sponsor("sm", "clarabridge", "http://www.clarabridge.com/")
      mixin sponsor("sm", "opis", "http://www.opisnet.com/")
      mixin sponsor("sm", "parsons", "http://www.parsons.com/")
      mixin sponsor("sm", "socialradar", "http://socialradar.com/")
      mixin sponsor("sm", "sparkfun", "https://www.sparkfun.com/")

  #partners.row.btc-row.noselect
    h2 Partners
    .col-xs-12
      mixin sponsor("md", "terrapin-hackers", "http://terrapinhackers.com/")
      mixin sponsor("md", "startup-shell",    "http://startupshell.org/")
      mixin sponsor("md", "mlh",              "http://mlh.io/")

  #twitter.row.btc-row
    h3
      | Hit up <a href="https://twitter.com/bitcmp" target="_blank">@bitcmp</a> on Twitter and
      | join the <a href="https://twitter.com/search?q=%23plustech" target="_blank">#plustech</a> conversation.

  a(href="http://goo.gl/maps/qS5Tf" target="_blank")
    #map.row.btc-row
      .btc-background-wrapper
        .btc-background
      #map-inner
        #map-text
          span.glyphicon.glyphicon-map-marker
          h2 Cole Field House
          h3 College Park, MD


footer#footer.row.btc-row
  .col-xs-12
    p
      | Bitcamp 2014
      | 
      a(href="https://twitter.com/bitcmp" target="_blank") Twitter
      | &ensp;·&ensp;
      a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
  .clearfix
