#faq(ng-show="isLoaded")
  header#header.row.btc-row
    #logo.col-xs-12.noselect
      a.noselect(ui-sref="main")
        <img src="/images/logo-colorwar.svg" width="600" height="375">


  #faq-content.light-on-dark
    .container
      .row.btc-row
        #faq-content-inner.col-xs-12
          :markdown
            **What does “YOU+TECH” mean to you?** Show us through illustrations, pixelations, or whatever your heart desires. Anything! It just has to fit in one image. It doesn’t matter whether you’re a designer, programmer, biologist, psychologist, or campologist.

            ### Tweet to Play
            Tweet [@bitcmp](http://twitter.com/bitcmp) with your [#COLORWAR](https://twitter.com/search?q=%40bitcmp%20%23COLORWAR&src=typd&f=realtime) submission as a twitpic. Send in your awesome designs by **8pm on Thursday, March 13th**! On Friday, March 14th we’ll announce five contestants who will have a chance to compete at Bitcamp for all the marbles.

            *You must be registered and planning to attend Bitcamp to compete. Register at [bitca.mp](http://bitca.mp/register/one). If you can’t make it in April, feel free to submit just for fun (but let us know)!*

            ### Prizes
            **Free Monitors**: All the five contestants will receive a monitor to use at the #COLORWAR main event at Bitcamp. Once the competition is over, the monitor is yours to keep!
            
            **Dribbble Invite**: We’re picking the funkiest, most campiest design to receive an exclusive Dribbble invite from Bitcamp organizer, [@jhilmd](http://dribbble.com/shots/1457927-COLORWAR)! This is an awesome (but selective) show-and-tell site for designers, so you’ve really got to earn it.
            
            **More Surprizes**: At the #COLORWAR main event, the winner will receive an extra special prize to be announced at Bitcamp opening ceremonies.

            ### Main Event
            During Bitcamp weekend, our five winners from the Twitter contest will compete in four rounds of design-off. Each round will have a different theme, and you’ll race to design something awesome before the clock runs out. Only the strongest will survive, as decided by the audience and a panel of judges from the design community. In the end, there can only be one #COLORWARrior to take home the highly coveted #COLORWAR title.

            
            If you have more questions about #COLORWAR, hit up [@bitcmp on Twitter](http://twitter.com/bitcmp) or email [hello@bitca.mp](mailto:hello@bitca.mp)!