#login

  .register-view
    .register-wrapper
      header
        a(ui-sref="main" title="cancel")
          i#cancel-register.glyphicon.glyphicon-remove

        #header-inner
          h3.b {{title}}

      section.register-body
        .register-body-inner
          ui-view.bitcamp-view(autoscroll="false")
