.row
  .form-group.col-xs-12
    input#login-email.form-control(
      type="email" placeholder="* email address"
      ng-model="email"
      ng-class="{shake: emailErr, animated: emailErr}"
      ng-disabled="loggingIn")

footer
  input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")
  .row
    .form-group.col-xs-12.col-sm-6
      button.btn.btn-warning(ng-click="reset()")
        | reset password
    .form-group.col-xs-12.col-sm-6
      a(ui-sref="^.main")
        button.btn.btn-danger
          | cancel

