header#header.row.btc-row
  .btc-background-wrapper
    .btc-background
  #logo.col-xs-12.noselect
    a(href="/")
      <img src='/images/logo.svg' width='140'  height='150'>
  //-#title.col-xs-12 bitcamp

  .col-xs-12
    h1#subtitle.
      404
    h3#time-and-placej
      | Head back to the fireside, camper.

