#travel(ng-show="isLoaded")
  header#header.row.btc-row
    div(ng-include="" onload="isLoaded = true" src="'layout/header-logo-notenttree.html'")
    .col-xs-12
      h1 Getting to Camp


  #travel-content.light-on-dark
    .container
      .row.btc-row
        #travel-content-inner.col-xs-12
          h2 Venue address
          p
            | Cole Student Activities Building
            | Union Dr. & Campus Dr.
            | College Park, MD 20742
          p
            a(href="http://goo.gl/maps/qS5Tf" role="button")
              button.btn-warning Google Maps

          :markdown
            ## From an airport

            ### DCA
            1. Follow signs in the terminal to the Washington National Airport metro station.
            2. Get on the Yellow line, towards Greenbelt, and get off at the College Park station.
            3. Take the 104 bus, and get off at the Stamp Student Union. The venue, Cole Field House is next to Stamp.

            ### IAD
            1. Follow signs in the terminal to Ground Transportation and Buses
            2. Take the 5A bus towards Roslyn/L'Enfant Plaza (\$5 fare)
            3. Get off at L'Enfant Plaza, and walk to the L'Enfant Plaza Metro Station
            4. Take the Green Line towards Greenbelt, and get off at the College Park station.
            5. Take the 104 bus, and get off at the Stamp Student Union. The venue, Cole Field House is next to Stamp.

            ### BWI
            1. Follow signs in the terminal to Ground Transportation and Buses
            2. Take the B30 bus towards Greenbelt Metro Station
            3. Take the Green Line towards Branch Ave., and get off at the College Park station.
            4. Take the 104 bus, and get off at the Stamp Student Union. The venue, Cole Field House is next to Stamp.

            ## From Union Station (buses and trains)
            1. Walk to the Union Station Metro Station (in the basement, next to the food court)
            2. Take the Red Line towards Glenmont.
            3. Get off at Gallery Place (Chinatown)
            4. Transfer to the Green Line, Towards Greenbelt.
            5. Get off at College Park
            6. Take the 104 bus, and get off at the Stamp Student Union. The venue, Cole Field House is next to Stamp.

            ## From Baltimore
            1. Go to Camden Station
            2. Take the Camden Line Towards Union Station
            3. Get off at College Park, and walk through the walkway under the metro station
            4. Take the 104 bus, and get off at the Stamp Student Union. The venue, Cole Field House is next to Stamp.

