#layoverhacks(ng-show="isLoaded" ng-style="firesideCSS")
  header#header.row.btc-row
    div(ng-include="" onload="isLoaded = true" src="'layout/header-logo.html'")
    .col-xs-12(ng-if="_profile.complete")
      h1 registration complete
      h2 see you by the bonfire :)
    .col-xs-12(ng-if="!_profile.complete")
      h1 fireside

    - var eight = [1, 2, 3, 4, 5, 6, 7, 8]
    mixin empty_block()
      .fireside-block.empty-block
    mixin fireside_block(color)
      .fireside-block
        each n in eight
          .inner-row
            each n in eight
              - var _class = color+'-block'
              .inner-block(class='dim-'+_class,
                data-colorclass=_class,
                data-dimclass='dim-'+_class)

    .container
      section#fireside-blocks
        .fireside-row
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()
          mixin fireside_block('red')
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()

        .fireside-row
          mixin empty_block()
          mixin empty_block()
          mixin fireside_block('red')
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()

        .fireside-row
          mixin empty_block()
          mixin fireside_block('red')
          mixin fireside_block('red')
          mixin empty_block()
          mixin empty_block()
          mixin fireside_block('red')
          mixin empty_block()
          mixin empty_block()

        .fireside-row
          mixin fireside_block('red')
          mixin fireside_block('red')
          mixin fireside_block('orange')
          mixin empty_block()
          mixin empty_block()
          mixin empty_block()
          mixin fireside_block('red')
          mixin empty_block()

        .fireside-row
          mixin fireside_block('orange')
          mixin fireside_block('orange')
          mixin fireside_block('orange')
          mixin fireside_block('orange')
          mixin empty_block()
          mixin fireside_block('orange')
          mixin fireside_block('orange')
          mixin empty_block()

        .fireside-row
          mixin fireside_block('orange')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orange')
          mixin fireside_block('orange')

        .fireside-row
          mixin fireside_block('orange')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orange')

        .fireside-row
          mixin fireside_block('orange')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('yellow')
          mixin fireside_block('white')
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin fireside_block('orangeyellow')
          mixin fireside_block('orange')

        .fireside-row
          mixin empty_block()
          mixin fireside_block('orangeyellow')
          mixin fireside_block('yellow')
          mixin fireside_block('white')
          mixin fireside_block('white')
          mixin fireside_block('yellow')
          mixin fireside_block('orangeyellow')
          mixin empty_block()

        .fireside-row
          mixin empty_block()
          mixin empty_block()
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin fireside_block('yellow')
          mixin empty_block()
          mixin empty_block()

