#layoverhacks
  header#header.row.btc-row
    #logo.col-xs-12.noselect
      a(href="/")
        <img src="/images/logo.svg" width="187" height="200">
    .col-xs-12
      h1#subtitle Fireside

  - var eight = [1, 2, 3, 4, 5, 6, 7, 8]
  mixin empty_block()
    .fireside-block.empty-block
  mixin fireside_block(color)
    .fireside-block
      each n in eight
        .inner-row
          each n in eight
            - var _class = color+'-block'
            .inner-block(class='dim-'+_class,
              data-colorclass=_class,
              data-dimclass='dim-'+_class)

  .container
    section#fireside-blocks
      .fireside-row
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()
        mixin fireside_block('red')
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()

      .fireside-row
        mixin empty_block()
        mixin empty_block()
        mixin fireside_block('red')
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()

      .fireside-row
        mixin empty_block()
        mixin fireside_block('red')
        mixin fireside_block('red')
        mixin empty_block()
        mixin empty_block()
        mixin fireside_block('red')
        mixin empty_block()
        mixin empty_block()

      .fireside-row
        mixin fireside_block('red')
        mixin fireside_block('red')
        mixin fireside_block('orange')
        mixin empty_block()
        mixin empty_block()
        mixin empty_block()
        mixin fireside_block('red')
        mixin empty_block()

      .fireside-row
        mixin fireside_block('orange')
        mixin fireside_block('orange')
        mixin fireside_block('orange')
        mixin fireside_block('orange')
        mixin empty_block()
        mixin fireside_block('orange')
        mixin fireside_block('orange')
        mixin empty_block()

      .fireside-row
        mixin fireside_block('orange')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orange')
        mixin fireside_block('orange')

      .fireside-row
        mixin fireside_block('orange')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orange')

      .fireside-row
        mixin fireside_block('orange')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('yellow')
        mixin fireside_block('white')
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin fireside_block('orangeyellow')
        mixin fireside_block('orange')

      .fireside-row
        mixin empty_block()
        mixin fireside_block('orangeyellow')
        mixin fireside_block('yellow')
        mixin fireside_block('white')
        mixin fireside_block('white')
        mixin fireside_block('yellow')
        mixin fireside_block('orangeyellow')
        mixin empty_block()

      .fireside-row
        mixin empty_block()
        mixin empty_block()
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin fireside_block('yellow')
        mixin empty_block()
        mixin empty_block()

  footer#footer.row.btc-row
    .col-xs-12
      p
        | Bitcamp 2014
        | 
        a(href="mailto:hello@bitca.mp" target="_blank") Email
        | &ensp;·&ensp;
        a(href="https://twitter.com/bitcmp" target="_blank") Twitter
        | &ensp;·&ensp;
        a(href="https://www.facebook.com/bitcmp" target="_blank") Facebook
    .clearfix
