doctype html
html(ng-app="bitcampApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title Bitcamp 2014
    meta(name="description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    meta(property="og:site_name",   content="Bitcamp 2014")
    meta(property="og:title",       content="Bitcamp 2014")
    meta(property="og:url",         content="http://bitca.mp")
    meta(property="og:type",        content="website")
    meta(property="og:description", content="36-hour hackathon at the University of Maryland. April 4-6, 2014.")
    meta(property="og:image",       content="http://bitca.mp/static/bitcamp-fb-opengraph.png")

    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")

    <!-- build:css(app) styles/vendor.css -->
    link(rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css")
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    link(rel="stylesheet" href="styles/fonts.css")
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="styles/layoverhacks.css")
    <!-- endbuild -->

  body
    div.wrapper#wrapper(ng-view)

    <!-- build:js(app) scripts/plugins.js -->
    script(src="bower_components/jquery/jquery.js")

    script(src="bower_components/jquery-ui/ui/jquery-ui.js")

    script(src="bower_components/angular/angular.js")

    script(src="bower_components/sass-bootstrap/js/button.js")
    script(src="bower_components/sass-bootstrap/js/scrollspy.js")
    script(src="bower_components/sass-bootstrap/js/tooltip.js")

    script(src="bower_components/flowtype/flowtype.js")
    <!-- endbuild -->

    <!-- build:js(app) scripts/modules.js -->
    script(src="bower_components/jquery.scrollTo/jquery.scrollTo.js")

    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-ui-autocomplete/autocomplete.js")
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/404.js")
    script(src="scripts/controllers/layoverhacks.js")
    <!-- endbuild -->

    //script(async).
    //  var _gaq=[['_setAccount','UA-45889454-1'],['_trackPageview']];
    //  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //  g.src='//www.google-analytics.com/ga.js';
    //  s.parentNode.insertBefore(g,s)}(document,'script'));

